.card {
    background: #F5FCFF;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.card-building{
    
}

.card-icon{
    position: relative;
    width: 100px;
    height: 140px;
    background: linear-gradient(to bottom, #F4FDFF, rgba(0, 0, 0, 0.21));
    color: #565656;
    border: 1px solid #9A9A9A;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
}

.card-icon:hover{
    background-color: #00C2FF;
}

.progress{
    margin-bottom: 10px;
    background-color: #D3D6D8;
    border: 1px solid rgba(0,0,0,0.2);
}

.progress-bar-custom{
    background: #A0E8FF;
    color: #6F6F6F;
    font-size: 15px;
    line-height: 18px;
}

.card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: -145px;
    width: calc(100% - 105px);
    height: 150px;
    left: 105px;
    white-space: nowrap;
}

.card-content-upgrade{
    white-space: normal;
}

.card-title{
    font-size: 20px;
    margin-top: -8px;
    margin-left: 5px;
}

.card-title-upgrade{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 5px;
}

.card-text{
    font-size: 16px;
    margin-top: -10px;
    margin-left: 5px;
}

.card-buy{
    position: relative;
    height: 20px;
    width: calc(33.33% - 2px);
    background-color: #FAFAFF;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-right: 2px;
    color: #737373;
}

.card-buy:last-child{
    margin-right: 0px;
}

.card-buy:hover{
    background-color: #A0E8FF;
 }

.button-row {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    bottom: 175px;
    width: calc(100% - 103.5px);
    height: 20px;
    left: 105px;
    display: inline-table;
}

.btn-mine {
    background-color: #F5FCFF;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #666666;
    position: absolute;
    width: 50%;
    height: 40px;
    left: 25%;
    bottom: 20px;
    border-radius: 4px;
    outline: none;
}

.btn-mine:active{
    background-color: #B9C1C1;
}

