.card {
  background: #313131;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.card-icon {
  position: relative;
  width: 100px;
  height: 140px;
  background: linear-gradient(to bottom, #313131, #232323);
  color: #adadad;
  border: 1px solid #585858;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.card-icon:hover {
  background: linear-gradient(to bottom, #4E4E4E, #232323);
  color: #FFC043; }

.card-icon:active {
  background: linear-gradient(to bottom, #313131, #232323); }

.progress {
  margin-bottom: 10px;
  background-color: #313131;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.progress-bar-custom {
  background: #FFB820;
  color: #5d5d5d;
  font-size: 15px;
  line-height: 18px;
  transition: none;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.card-content {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: -145px;
  width: calc(100% - 105px);
  height: 150px;
  left: 105px;
  white-space: nowrap; }

.card-content-upgrade {
  white-space: normal; }

.card-title {
  font-size: 20px;
  margin-top: -8px;
  margin-left: 5px; }

.card-title-upgrade {
  font-size: 20px;
  margin-top: 0px;
  margin-left: 5px; }

.card-text {
  font-size: 16px;
  margin-top: -10px;
  margin-left: 5px; }

.card-buy {
  position: relative;
  height: 20px;
  width: calc(33.33% - 2px);
  background-color: #313131;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 2px;
  color: #737373; }

.card-buy:last-child {
  margin-right: 0px; }

.card-buy:hover {
  color: #FFB820; }

.card-buy:active {
  background-color: #313131; }

.affordable {
  background-color: #545454;
  color: #FFB820; }

.button-row {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  bottom: 175px;
  width: calc(100% - 103.5px);
  height: 20px;
  left: 105px;
  display: inline-table; }

.btn-mine {
  background-color: #313131;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #adadad;
  position: absolute;
  width: 50%;
  height: 40px;
  left: 25%;
  bottom: 20px;
  border-radius: 4px;
  outline: none; }

.btn-mine:hover {
  color: #FFB820;
  background-color: #545454; }

.btn-mine:active {
  background-color: #313131; }

.manager-title {
  font-size: 20px;
  margin-top: 0px;
  margin-left: 5px; }

.manager-text {
  font-size: 16px;
  margin-top: -10px;
  margin-left: 5px;
  white-space: normal; }

.hire {
  position: relative;
  top: 2px;
  left: -100px;
  width: 90px;
  height: 30px;
  background-color: #313131;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #737373;
  text-align: center;
  line-height: 28px;
  font-size: 16px; }

.hire-affordable {
  background-color: #545454;
  color: #FFB820; }

.hire:active {
  background-color: #272727; }
